@charset "UTF-8";
@media (min-width: 768px) {
	.app.sidenav-toggled {
		.app-content {
			margin-left: 0;
		}
		.app-sidebar {
			left: -300px !important;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
	}
	.app-content {
		margin-left: 250px;
	}
	.sidenav-toggled .footer {
		margin-left: 0px;
	}
}
@media (max-width: 767px) {
	.app {
		overflow-x: hidden;
		.app-sidebar {
			left: -300px;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
		&.sidenav-toggled {
			.app-content {
				margin-left: 0;
			}
			.app-sidebar {
				left: 0;
			}
			.app-sidebar__overlay {
				visibility: visible;
			}
			.toggle-menu.side-menu {
				padding-top: 1.5rem !important;
			}
			.side-menu__item {
				margin-left: 0;
			}
		}
	}
}
.app-content {
	min-height: calc(100vh - 50px);
	margin-top: 50px;
	margin-bottom: 0 !important;
	-webkit-transition: margin-left 0.3s ease;
	-o-transition: margin-left 0.3s ease;
	transition: margin-left 0.3s ease;
	.side-app {
		padding: 18px 30px 0 30px;
	}
}
.app-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	z-index: 99;
	padding: 10px 0;
	box-shadow: none;
	border-bottom: 1px solid #eff0f3;
	padding-right: 25px;
	.input-icon.mt-1 {
		margin-top: 2px !important;
	}
}
.app-header__logo {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	color: #fff;
	text-align: center;
	padding: 0 15px;
	font-size: 26px;
	font-weight: 400;
	line-height: 50px;
	&:focus, &:hover {
		text-decoration: none;
	}
}
.app-sidebar__toggle {
	padding: 0px 14px;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	position: absolute;
	left: 196px;
	.close-toggle, .open-toggle {
		font-size: 1.4rem;
		position: relative;
		top: 8px;
		color: #384364;
	}
	.close-toggle {
		display: none;
	}
}
.sidebar-mini.sidenav-toggled {
	.open-toggle {
		display: none;
	}
	.close-toggle {
		display: block;
	}
}
.app-sidebar__toggle i {
	&:focus, &:hover {
		text-decoration: none;
		color: #556ee7;
		background-color: transparent;
	}
}
.app-search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	margin-right: 15px;
	padding: 10px 0;
}
.app-search__button {
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	padding: 0 10px;
	border: 0;
	color: rgba(0, 0, 0, 0.8);
	background: none;
	cursor: pointer;
}
.app-notification {
	min-width: 270px;
}
.app-notification__title {
	padding: 8px 20px;
	text-align: center;
	background-color: rgba(0, 150, 136, 0.4);
	color: #333;
}
.app-notification__footer {
	padding: 8px 20px;
	text-align: center;
	background-color: #eee;
}
.app-notification__content {
	max-height: 220px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
	}
}
.app-notification__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 20px;
	color: inherit;
	border-bottom: 1px solid #ddd;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:focus, &:hover {
		color: inherit;
		text-decoration: none;
		background-color: #e0e0e0;
	}
}
.app-notification__message, .app-notification__meta {
	margin-bottom: 0;
}
.app-notification__icon {
	padding-right: 10px;
}
.app-notification__message {
	line-height: 1.2;
}
.app-sidebar {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	padding-top: 70px;
	width: 250px;
	overflow: auto;
	z-index: 9;
	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.04);
	background: #fff;
	border-right: 1px solid #eaedf1;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
	}
}
.app-sidebar__user {
	.user-pro-body {
		display: block;
		img {
			display: block;
			margin: 0 auto 0px;
			border: 1px solid rgba(255, 255, 255, 0.2);
			padding: 3px;
			box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
		}
		.u-dropdown {
			color: #97999f;
		}
		.user-info span.text-gray {
			color: #969696 !important;
		}
		.dropdown-menu {
			right: 0;
			width: 80%;
			left: 0;
			margin: 0 auto;
			-webkit-transform: none !important;
			-ms-transform: none !important;
			transform: none !important;
			top: 85px !important;
			li a {
				padding-left: 5px !important;
				padding-right: 10px !important;
				padding-top: 10px !important;
				padding: 10px !important;
			}
		}
	}
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	color: #a8a8a8;
	width: 100%;
	padding: 11px 0 0 0;
}
.sidebar-mini.sidenav-toggled {
	.app-sidebar .user-info {
		display: none;
	}
	&.sidenav-toggled1 .app-sidebar .user-info {
		display: block;
	}
	.app-sidebar .user-button {
		display: none;
	}
}
.profile-img {
	position: absolute;
	top: 46px;
	right: 80px;
	display: block;
	border: 1px solid rgba(226, 212, 214, 0.7);
	border-radius: 50%;
	font-size: 10px;
	line-height: 22px;
	width: 22px;
	text-align: center;
	height: 24px;
	color: #785baa;
	background: rgba(225, 225, 225, 0.7);
}
.app-sidebar__user-avatar {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-right: 15px;
}
.app-sidebar__user-name {
	&.text-sm {
		font-size: 13px;
	}
	font-size: 17px;
	line-height: 1.3;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.app-sidebar__user-designation {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.side-menu {
	margin-bottom: 0;
	padding: 0px 0px 40px 0px;
}
.side-menu__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px 25px 5px 15px;
	font-size: 14px;
	font-weight: 400;
	color: #606263;
	border-top: 1px solid rgba(237, 239, 245, 0.6);
}
.app-sidebar .mCSB_draggerContainer {
	right: -11px;
}
.side-menu .side-menu__icon {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	vertical-align: middle;
	margin-right: 0px;
	margin-left: 0px;
	color: #384364;
}
.side-menu__label {
	white-space: nowrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-weight: 500;
	color: rgba(56, 67, 100, 0.62);
}
.slide {
	&.is-expanded [data-toggle='slide'], .side-menu__item.active {
		border-left: 0;
	}
}
.side-menu li ul {
	background: rgba(255, 255, 255, 0.04);
}
.app-sidebar .side-menu__item.active {
	color: #384364;
	background: #dfebfd;
	border-top: 1px solid rgb(237, 239, 245);
}
.slide-menu li.active>a {
	font-weight: 400;
	background: transparent;
	color: #556ee7 !important;
	i {
		color: #556ee7 !important;
	}
}
.app-sidebar {
	.slide-menu .slide-item:hover, .side-menu__item:hover {
		color: #384364;
	}
}
.slide-menu li ul li a {
	font-size: 12px !important;
	font-weight: 300;
}
.app-sidebar .side-menu__item.active:hover {
	color: #384364 !important;
}
.slide-menu li.active>a:hover {
	background: rgba(255, 255, 255, 0.02);
	color: #384364 !important;
}
.app-sidebar .search-element {
	position: relative;
	.Search-icon {
		top: 7px !important;
	}
}
.slide.is-expanded {
	.slide-menu {
		display:block;
	}
	.angle {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.slide-menu {
	display:none;
	padding: 0px;
	font-size: .8rem !important;
	margin-left: 2rem;
}
.slide-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 7px;
	font-size: 1em;
	color: rgba(56, 67, 100, 0.62);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	position: relative;
	.icon {
		margin-right: 5px;
	}
}
.angle {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}
.sidenav-toggled .app-sidebar__user {
	a.btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.3rem;
		margin-top: 1rem;
		display: none;
	}
	.avatar-xl {
		width: 2.3rem;
		height: 2.3rem;
		line-height: 2rem;
		font-size: 1rem;
		margin-bottom: 0;
	}
}
.user-info h4.font-weight-semibold {
	font-weight: 400 !important;
}
.app-sidebar .tab-content>.tab-pane {
	padding: 0;
}
.submenu-list {
	margin-left: 1.5rem;
	margin-bottom: 0;
}
.slide.submenu a {
	color: #cbd7ef;
	padding: 7px 0;
	margin: 0;
}
.toggle-menu .slide.is-expanded .angle {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.app-sidebar .toggle-menu .side-menu__item {
	&.active {
		color: #556ee7 !important;
		background: rgba(234, 235, 243, 0.3);
		border-radius: 3px;
	}
	&:hover {
		background: rgba(234, 235, 243, 0.3);
		color: #556ee7 !important;
	}
	&.active:hover .side-menu__icon {
		color: #556ee7 !important;
	}
}
.toggle-menu.side-menu {
	padding: 0 8px 0 8px;
	li {
		a {
			border-top: 1px solid rgba(255, 255, 255, 0.05);
		}
		ul li {
			a {
				border-top: 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.01);
				padding: 6px 7px;
				color: #000;
				font-size: 13px;
			}
			&:last-child a {
				border-bottom: 0;
			}
		}
	}
}
.app-sidebar.toggle-sidebar {
	width: 250px;
}
.user-body {
	margin-bottom: 0.5rem;
}
.user-info {
	margin-top: 1rem;
	.text-dark.app-sidebar__user-name {
		font-weight: 400 !important;
	}
}
.side-menu h3 {
	color: #384364;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 10px;
	margin-bottom: 0.4rem;
	padding-top: 2rem;
	font-weight: 700;
	border-top: 1px solid rgba(237, 239, 245, 0.6);
	padding-left: 20px;
}
.sidebar-mini.sidenav-toggled .app-sidebar .side-menu h3 {
	display: block;
}
.slide {
	&.is-expanded .slide-menu li {
		&:first-child a {
			margin-top: 0px;
		}
		&:last-child a {
			margin-bottom: 10px;
		}
	}
	&:hover .slide-menu, .slide-menu {
		cursor: pointer;
		z-index: 10;
	}
}
@media print {
	.app-content {
		margin: 0;
		padding: 0;
		background-color: #fff;
	}
	.app-header, .app-sidebar {
		display: none;
	}
}
@media (max-width: 767px) {
	.app-sidebar__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	.app-sidebar__toggle {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.app-content {
		margin-top: 50px;
		min-width: 100%;
		padding: 0px 15px;
	}
}
@media (max-width: 480px) {
	.app-content {
		padding: 15px;
	}
	.app-breadcrumb {
		margin-top: 10px;
	}
	.app-title p {
		display: none;
	}
	.app-sidebar .siderbar-tabs .tabs-menu ul li {
		width: auto !important;
		a {
			width: auto !important;
		}
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.sidenav-toggled .app-sidebar__user .avatar-xl {
		width: 3rem !important;
		height: 3rem !important;
		line-height: 2rem;
		font-size: 1rem;
		margin-bottom: 0;
	}
	.sidebar-mini.sidenav-toggled .app-sidebar .user-info {
		display: block;
	}
}
.sidebar-navs a {
	background: #fff;
	border: 1px solid #eaedf1 !important;
	border-radius: 50%;
	padding: 0.7em !important;
	font-size: 15px;
}
@media (min-width: 739px) {
	.sidebar-mini.sidenav-toggled {
		.sidebar-navs {
			display: none;
		}
		&.sidenav-toggled1 .sidebar-navs {
			display: block;
		}
	}
}
.sidemenu-icon {
	color: rgba(56, 67, 100, 0.5);
	font-size: 13px;
	padding-right: 5px;
}
.app-sidebar {
	.sidebar-navs {
		padding: 0 10px 10px 10px;
	}
	.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #eaecf3;
		right: -6px;
	}
}
.header-style1 {
	width: 250px;
	height: 70px;
	padding: 10px 15px;
	border-right: 1px solid #eff0f3;
	margin-top: -10px;
	margin-bottom: -10px;
	.header-brand-img.mobile-logo {
    display: none;
	}
}
.footer {
	margin-left: 250px;
}
.side-menu li {
	.side-menu__label {
		margin-left: 25px;
	}
	&.slide .side-menu__label {
		margin-left: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header-style1 {
		width: 250px;
		height: 65px;
	}
}